body {  
  letter-spacing: 1px;
  background-color: #f5fdfc !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
}

#question-container{
  box-shadow: 0px 0px 30px -5px;
  background-color: white;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 600px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 30px;
  
}

#title{
  font-size: larger;
  /* background-color: green; */
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #465a6a;

}

#prompt{
  margin-top: 40px;
  text-align: center;
  font-size: 27px;
  font-weight: 600;
  color: #465a6a;
  margin-bottom: 30px;

}

#responses{
  margin-bottom: 10px;
}

.response{
  margin: 0 auto;
  width: 80%;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}

.response-box:hover{
  background-color: #e4e4e4;
}

.response-box{
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: white;
  border: solid 1px #465a6a;
  width: 80%;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #465a6a;
  padding-bottom: 8px;
}


#progress-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.progress-box{
  height: 10px;
  width: 20px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 3px;
  border: solid 1px #465a6a;
}

#buttons-box {
  display: flex;
  justify-content: space-around;
}

#prev {
  border: solid 1px #1BBF8D;
  background-color: #1BBF8D;
  box-shadow: 0 7px 30px 0 rgba(23, 141, 108, 0.28);
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  width: 150px;
}

#prev:hover {
  background-color: #1cab83;
  border: solid 1px #1cab83;
  box-shadow: 0 7px 30px 0 rgba(28, 171, 131, 0.28);

}


#next {
  border: solid 1px #1BBF8D;
  background-color: #1BBF8D;
  box-shadow: 0 7px 30px 0 rgba(23, 141, 108, 0.28);

  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  width: 150px;
  padding-bottom: 6px;
}

#next:hover{
  background-color: #1cab83;
  border: solid 1px #1cab83;
  box-shadow: 0 7px 30px 0 rgba(28, 171, 131, 0.28);
}

#finish-button {
  border: solid 1px #1BBF8D;
  background-color: #1BBF8D;
  box-shadow: 0 7px 30px 0 rgba(23, 141, 108, 0.28);
  height: 30px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  width: 300px;
  padding-bottom: 6px;

}

#finish-button:hover{
  background-color: #1cab83;
  border: solid 1px #1cab83;
  box-shadow: 0 7px 30px 0 rgba(28, 171, 131, 0.28);
}

#score-box{
  font-size: 40px;
  font-weight: 600;
  color: #465a6a;
  text-align: center;
  box-shadow: 0px 0px 30px -5px;
  background-color: white;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 200px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 30px;
}

